services:
  otelcol:
    build:
      context: ..
      dockerfile: collector/Dockerfile
    environment:
    - OXIDE_HOST=${OXIDE_HOST}
    - OXIDE_TOKEN=${OXIDE_TOKEN}
    volumes:
    - ../collector/config.yaml:/etc/otelcol/config.yaml:ro
    ports:
    - "9091:9091"
    - "8888:8888"

  prometheus:
    image: prom/prometheus:latest
    volumes:
    - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    - prometheus_data:/prometheus
    ports:
    - "9090:9090"
    depends_on:
    - otelcol

  loki:
    image: grafana/loki:3
    command: -config.file=/etc/loki/config.yaml
    ports:
    - "3100:3100"
    volumes:
    - ./loki.yaml:/etc/loki/config.yaml:ro
    - loki_data:/loki

  grafana:
    image: grafana/grafana:latest
    ports:
    - "3000:3000"
    volumes:
    - ./grafana/datasources.yaml:/etc/grafana/provisioning/datasources/datasources.yaml:ro
    depends_on:
    - prometheus
    - loki

volumes:
  prometheus_data:
  loki_data:
